<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estadisticas</title>
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='../static/css/estadisticas.css') }}"
    />
</head>
<body>

    <div>
    <button type="button" id="btn-index">
        <span style="font-size: 1.5em; font-weight: bold"> Pantalla de inicio</span>
     </button> 
    <h1> Estadisticas</h1>
    </div>
        <div class="stats-container">
        <figure class="highcharts-figure">
            <div id="container"></div>
            <p class="highcharts-description">
            </p>
        </figure>
    </div>
        </div>
        <div class="stats-container">
        <figure class="highcharts-figure">
            <div id="container_2"></div>
            <p class="highcharts-description">
            </p>
        </figure>
    </div>
    </div>
        </div>
        <div class="stats-container">
        <figure class="highcharts-figure">
            <div id="container_3"></div>
            <p class="highcharts-description">
            </p>
        </figure>
    </div>



    <script lang="en" src="{{ url_for('static', filename='js/estadisticas.js') }}"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="{{url_for('static', filename='js/stats_1.js')}}"></script>
    <script src="{{url_for('static', filename='js/stats_2.js')}}"></script>
</body>
</html>