<div id="tableView">
        <table id="adoptionTable">
            <thead>
                <tr>
                    <th>Fecha de publicacion</th>
                    <th>Fecha entrega</th>
                    <th>Comuna</th>
                    <th>Sector</th>
                    <th>Cantidad Tipo Edad</th>
                    <th>Nombre Contacto</th>
                    <th>Total Fotos</th>
                    <th>Acciones</th> </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2025-08-30 12:00</td>
                    <td>2025-09-05 15:00</td>
                    <td>Santiago</td>
                    <td>Beauchef 850, terraza</td>
                    <td>1 gato, 2 meses </td>
                    <td>María González</td>
                    <td>2</td>
                    <td><button class="btn-detalles" data-id="1">Ver Detalles</button></td>
                </tr>
                <tr>
                    <td>2025-08-23 19:00</td>
                    <td>2025-08-30 12:00</td>
                    <td>Ñuñoa</td>
                    <td>Estadio Nacional</td>
                    <td>1 perro, 6 meses</td>
                    <td>Juan Pérez</td>
                    <td>2</td>
                    <td><button class="btn-detalles" data-id="2">Ver Detalles</button></td>
                </tr>
                <tr>
                    <td>2025-08-20 09:00</td>
                    <td>2025-08-27 10:00</td>
                    <td>Providencia</td>
                    <td>Plaza</td>
                    <td>3 gatos, 3 meses</td>
                    <td>Ana Silva</td>
                    <td>2</td>
                    <td><button class="btn-detalles" data-id="3">Ver Detalles</button></td>
                </tr>
                <tr>
                    <td>2025-08-18 14:00</td>
                    <td>2025-08-25 16:00</td>
                    <td>Santiago</td>
                    <td>Morande con Compañia</td>
                    <td>4 perros, 2 meses</td>
                    <td>Carlos López</td>
                    <td>2</td>
                    <td><button class="btn-detalles" data-id="4">Ver Detalles</button></td>
                </tr>
                <tr>
                    <td>2025-08-15 17:00</td>
                    <td>2025-08-22 14:00</td>
                    <td>Santiago</td>
                    <td>Ministro Carvajar con Ministro Carvajal</td>
                    <td>1 perro, 1 mes  </td>
                    <td>Laura Martínez</td>
                    <td>2</td>
                    <td><button class="btn-detalles" data-id="5">Ver Detalles</button></td>
                </tr>
            </tbody>
        </table>
    </div>