{% extends 'l_adopcion/base_l_adopcion.html' %}

{% block css %}
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/vista.css') }}"
    />
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/l_adopcion.css') }}"
    />
{% endblock %}

{% block content %} 
<div class="page-container">

    <div class="detalles-box">
        
        <h2>Detalles de la Adopción</h2>
        
        <div class="detalles-lista">
            
            <div class="detalle-item">
                <span class="label">Region:</span>
                <span class="valor">{{data[0]["Region"]}}</span>
            </div>

            <div class="detalle-item">
                <span class="label">Comuna:</span>
                <span class="valor">{{data[0]["Comuna"]}}</span>
            </div>

            <div class="detalle-item">
                <span class="label">Sector:</span>
                <span class="valor">{{data[0]["Sector"]}}</span>
            </div>

            <div class="detalle-item">
                <span class="label">Nombre de contacto:</span>
                <span class="valor">{{data[0]["nombre"]}}</span>
            </div>

            <div class="detalle-item">
                <span class="label">Email de contacto:</span>
                <span class="valor">{{data[0]["correo"]}}</span>
            </div>

            <div class="detalle-item">
                <span class="label">Teléfono de contacto:</span>
                <span class="valor">{{data[0]["numero"]}}</span>
            </div>

            <div class="detalle-item">
                <span class="label">Tipo:</span>
                <span class="valor">{{data[0]["tipo"]}}</span>
            </div>

            <div class="detalle-item">
                <span class="label">Cantidad:</span>
                <span class="valor">{{data[0]["Cantidad"]}}</span>
            </div>

            <div class="detalle-item">
                <span class="label">Edad:</span>
                <span class="valor">{{data[0]["edad"]}}</span>
            </div>

            <div class="detalle-item">
                <span class="label">Fecha de publicación:</span>
                <span class="valor">{{data[0]["Fecha_de_publicacion"]}}</span>
            </div>

            <div class="detalle-item">
                <span class="label">Fecha de entrega:</span>
                <span class="valor">{{data[0]["Fecha_de_entrega"]}}</span>
            </div>
        </div>

        <div class="detalle-seccion descripcion">
            <span class="label">Descripción:</span>
            <p>
                {{data[0]["descripcion"]}}
            </p>
        </div>


            <div class="detalles-box">
                
                <div class="detalle-seccion">
                    <span class="label">Fotos:</span>

                    {% if data[0].Foto %}
                        {% for i in data[0].Foto %}
                        <img src="{{ url_for('static', filename=i) }}" 
                            alt="Foto" 
                            style="width: 320px; height: 240px;"
                            class="gallery-thumbnail"> {% endfor %}
                        
                    {% else %}
                    Sin foto
                    {% endif %}
                </div>

                </div> 

            <div id="myModal" class="modal">
            <span class="close-button">&times;</span>
            
            <img class="modal-content" id="imgModal" alt= "" src="">
            </div>


        <br>
        <br>

        <h2>Sección de comentarios</h2>
        <div class="comentarios_sec" id="comentarios-lista">
            {% for i in data[0].comentarios %}
            <div class="comentarios_slot">
                {% if data[0].comentarios %}
                    <p class="comentarios_usuario">{{ i[0] }}</p>
                    <p class="comentarios_texto">{{ i[1] }}</p>
                {% endif %}
            </div>
            {% endfor %}
        </div>


       
        <h2>Agregar Comentario</h2>
        <form class="formulario" id="comentario-form" data-aviso-id="{{data[0]['id']}}" method="POST" enctype="multipart/form-data">
            <div class="agregar_comentario">
                <div id="usuarioc_input" class="grupo-input">
                    <label for="usuarioc">Usuario</label><br> 
                    <input type="text" name="usuarioc" id="usuarioc" minlength="3" maxlength="80"><br>
                </div>
                <div id="comentario0_input" class="grupo-input">
                    <label for="comentario0">Comentario: </label><br>
                    <textarea rows="4" cols="50" name="comentario0" id="comentario0" required minlength="5"     ></textarea><br>
                </div>
                <div id="val-box2" hidden>
                    <h5 id="val-msg2">.</h5>
                </div>
                <div>
                    <button id="submit-btn-com" type="button">Agregar comentario</button>
                </div>
            </div>
        </form>

        <h2></h2>
        
        <a href="/l_adopcion/1/0" class="btn btn-volver">Volver a la lista</a>
        
    </div> </div> {% endblock content %}

{% block javascript %}
<script lang="en" src="{{ url_for('static', filename='js/l_adopcion.js') }}"></script>
{% endblock %}