{% extends 'l_adopcion/l_adopcion.html' %}

{% block vista %}
    <!-- Vista de detalles -->
    <div id="detailView" class="detail-view" style="display: none;">
        <h2>Detalles de la Adopción</h2>
        <div class="detail-item">

        {%if data %}
        {% for i in data %}
                {%if i != "args"  %}
                    <span class="detail-label">{{ data[i][0].Fecha_de_publicacion }}</span>
                {% endif %}
        {% endfor %}
        {% endif %}

            
            <span id="detail-region">holaaaaa</span>
        </div>
        <div class="detail-item">
            <span class="detail-label">Comuna:</span>
            <span id="detail-comuna"></span>
        </div>
        <div class="detail-item">
            <span class="detail-label">Sector:</span>
            <span id="detail-sector"></span>
        </div>
        <div class="detail-item">
            <span class="detail-label">Nombre de contacto:</span>
            <span id="detail-contacto"></span>
        </div>
        <div class="detail-item">
            <span class="detail-label">Email de contacto:</span>
            <span id="detail-email"></span>
        </div>
        <div class="detail-item">
            <span class="detail-label">Teléfono de contacto:</span>
            <span id="detail-telefono"></span>
        </div>
        <div class="detail-item">
            <span class="detail-label">Tipo:</span>
            <span id="detail-tipo"></span>
        </div>
        <div class="detail-item">
            <span class="detail-label">Cantidad:</span>
            <span id="detail-cantidad"></span>
        </div>
        <div class="detail-item">
            <span class="detail-label">Edad:</span>
            <span id="detail-edad"></span>
        </div>
        <div class="detail-item">
            <span class="detail-label">Fecha de publicación:</span>
            <span id="detail-fecha-publicacion"></span>
        </div>
        <div class="detail-item">
            <span class="detail-label">Fecha de entrega:</span>
            <span id="detail-fecha-entrega"></span>
        </div>
        <div class="detail-item">
            <span class="detail-label">Descripción:</span>
            <p id="detail-descripcion"></p>
        </div>
        <div class="detail-item">
            <span class="detail-label">Fotos:</span>
            <div id="detail-fotos"></div>
        </div>
        <button id="backButton" class="back-button">Volver a la lista</button>
    </div>
    <!-- Modal para imagen ampliada -->
    <div id="imageModal" class="modal">
        <span class="close-button">&times;</span>
        <img class="modal-content" id="expandedImg" alt="imagen" src="../media/l_adopcion/img.png">
        <div id="imageCaption"></div>
    </div>


<!-- Apartado de botones para moverse entre paginas -->
{%if data %}
{% for i in data %}
        {%if i == "args"  %}
            {%if data[i][0] == 1  %}
                        <a href="{{ url_for('lista', arg= data[i][0]+1, arg2=0) }}" class="btn-nav btn-avanzar">
                            <span class="btn-text">Avanzar</span>
                            <span class="btn-icon">→</span>
                        </a>
            {% endif %}
            {%if data[i][0] > 1  %}
                        <a href="{{ url_for('lista', arg= 1, arg2=0) }}" class="btn-nav btn-inicio">
                            <span class="btn-text">Inicio</span>
                            <span class="btn-icon">⏮</span>
                        </a>
                        <a href="{{ url_for('lista', arg= data[i][0]-1, arg2=0) }}" class="btn-nav btn-retroceder">
                            <span class="btn-text">Retroceder</span>
                            <span class="btn-icon">←</span>
                        </a>
                        <a href="{{ url_for('lista', arg= data[i][0]+1, arg2=0) }}" class="btn-nav btn-avanzar">
                            <span class="btn-text">Avanzar</span>
                            <span class="btn-icon">→</span>
                        </a>
            {% endif %}


        {% endif %}
{% endfor %}
{% endif %}
{% endblock %}
